<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Brain Tumor Detection</title>
</head>

<body>
    <br>
    <div class="row">
        <div class="col-sm-6">

            <h1 class="orgclr" style="font-size: 50px;"> <img src="../static/images/loginlogo.png" alt="">Brain Tumor Detection
            </h1>
        </div>
        <div class="col-sm-3 float-right"> </div>
        <div class="col-sm-3 float-right">
            <button class="nrmbtn btn" onclick="window.location.href='./index'">Home</button>
            <button class=" btn obtn w-75" onclick="window.location.href='./index'">Logout&nbsp;&nbsp;<i
                    class="fa fa-angle-right fa-lg"></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <br>
                <br>
                <br>
                <br>
                <p class="orgclr" style="font-size: 18px;">Upload your MRI image and we will tell you if there is a need
                    to consult a doctor or not</p>
                <p class="text-center">
                    <i class="fa fa-heart  fa-3x fa-fw"></i>
                    
                </p>
            </div>
            <div class="col-sm-6 text-center" style="border-left: 1px solid grey;">
                <br>
                <br>
                <br>
                <br>

                <form action="./fileupload" method="POST" enctype = "multipart/form-data">
                <label class="btn obtn"> Choose file <i class="fa fa-file"></i>
                    <input name="file" type="file" size="60" >
                    </label> 
               
                <br>
                <br>
                <br>
                <br>
                <button class="btn obtn">Upload File <i class="fa fa-upload" aria-hidden="true"></i></button>
                <p class="orgclr">Click to Upload</p>
            </form>
            </div>
        </div>
    </div>


    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>